<h1>Examples#form <%= @busco %></h1>
<p>Find me in app/views/examples/form.html.erb</p>
<div id="resultados">
     <%= @autor %>
     
    </div>
     <form class="form-inline my-2 my-lg-0" id="search-form2" action="form" method="get" data-remote="false" >
     <input class="form-control mr-sm-2" type="search" name="keyword3" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>

