<h1>New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>

<script type="text/javascript">
 
window.onload = function()
{
    if (window.jQuery)
    {
        alert('jQuery is loaded');
    }
    else
    {
        alert('jQuery is not loaded');
    }
}
</script>